/* small devices */
@media (min-width:640px) {
    .btn-continar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;



    }

    .btn-continar .btn-continar1 {
        width: 50%;
        height: auto;
    }

    .btn-continar1 .R-btn:hover {
        background-color: RGB(230, 20, 20);
    }

    .btn-continar .btn-continar2 {
        width: 50%;
        height: auto;
        display: flex;
        margin-top: 0;
        justify-content: center;
        align-items: center;
    }

    .btn-continar1 .R-btn {
        height: auto;
        color: white;
        padding: 13px 20px;
        border: 1px solid RGB(230, 20, 20);
        border-radius: 25px;
        border-top-left-radius: 0;
        text-align: center;
        background-color: rgb(212, 5, 5)
    }

    .form-a {

        flex-direction: row;
    }

    .footer .container {
        flex-direction: row;
    }

    .footer .logo-section {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .get-in-touch-container {
        width: 50%;

    }


}

/* medium devices */

@media (min-width:769px) {
    .logo {
        width: 25%;
        height: auto;
        display: flex;
        padding-left: 25px;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-menu {
        width: 60%;
        height: auto;
        border: 0;

    }

    .nav-menu ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;



    }

    .nav-menu li {
        padding-left: 30px;
    }

    .section-2-context-container {
        display: flex;
        justify-content: flex-start;
    }

    .nav-bar {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        position: fixed;
        z-index: 998;
        padding-bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-color: white;
    }

    .section-2 {
        width: 100%;
        height: 85vh;
        display: flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 25px;

    }

    .section-2-container {
        width: 98%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

    }

    .section2-img-container {
        width: 45%;
        height: auto;
    }

    .section-2-context-container {
        width: 50%;
        height: auto;
        text-align: left;
    }

    .btn-continar {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

    }

    .section-2-img {
        flex-direction: column;
    }

    .section-2-context {
        width: 90%;
    }

    .section-3-a {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
    }

    .section-3-a  .item-container {
        width:50%;
        padding: 5px;
    }


    .section-4-contanier {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;

    }

    .section-4-gallary {
        width: 90%;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        columns: 3;
        column-gap: 15px;
        display: block;

    }

    .Gallery-img-container {
        width: 100%;
        height: auto;
        padding: 0;
        padding-top: 12px;
        break-inside: avoid;
    }

    .section-5-body {
        width: 100%;
        padding: 15px;
        display: block;
        columns: 2;

    }

    .section-5-contact {
        width: 100%;
        height: auto;
        background-color: #eee;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
    }


}

/* large devices */

@media (min-width:1023px) {
    .nav-menu ul {
        width: 100%;
        height: auto;
        padding-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .nav-menu {
        padding-top: 20px;
        display: flex;
        align-items: center;

    }

    .section-2 {
        width: 100%;
        height: 85vh;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: 10px;

    }

    .section-2-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 15px 15px;


    }


    .section-3-a {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
    }

    .section-3-a  .item-container {
        width:33.3333%;
        padding: 5px;
    }


    .section2-img-container {
        width: 35%;
        height: auto;
    }


    .section-2-context-container {
        width: 35%;
        height: auto;
        display: flex;
        align-items: center;


    }

    .footer {
        /* background-color: black; */
        background-image: url("../image/dark-grunge-style-texture-background.jpg    ");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .footer .footer-container {
        padding-top: 0;
    }

    .footer .container-footer {
        width: 33.333%;
        height: auto;
        height: 100%;
        padding: 15px;
    }

    .footer .container-footer-1 {
        width: 33.333%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .footer .container-footer .container {
        width: 100%;
    }

    .get-in-touch-container {
        width: 100%;
    }

    .footer .container-footer-3 {
        width: 33.333%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }



}

/* extra-large devices */

@media (min-width:1280px) {}

/* extra-extra large devices */

@media (min-width:1536px) {}